name: build-test-deploy
on: push

jobs: 
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: use node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: '18.x'
      - run: npm install
      - run: npm run build
      
  test: 
    needs: build
    runs-on: ubuntu-latest
    steps: 
      - name: checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: use node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: '18.x'
      - run: npm install
      - run: NEXT_DISABLE_ESLINT_PROMPT=true npm test
