name: hello-world
on:
  pull_request:
    branches:
      - main
jobs:
  hello-world-job:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository code
      uses: actions/checkout@v6
    - run: echo "$(cat hello_world.txt)" 
